.drive-car {
    position: absolute;
    z-index: 100;
    left: 50vw;
    transform: translate(-100px, 0);
    bottom: 40vh;
    width: 200px;
    height: 50px;
    border: 2px solid #e4f9ff;
    border-radius: 5px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.2s;
    text-align: center;
    font-weight: bold;
}